@font-face {
	font-family: "WC Mano Negra Bta V2";
	src: url("../fonts/6e02d29a68e4a53317ad9ffa8ddc79db.eot"); /* IE9*/
	src: url("../fonts/6e02d29a68e4a53317ad9ffa8ddc79db.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("../fonts/6e02d29a68e4a53317ad9ffa8ddc79db.woff2")
			format("woff2"),
		/* chrome、firefox */ url("../fonts/6e02d29a68e4a53317ad9ffa8ddc79db.woff")
			format("woff"),
		/* chrome、firefox */ url("../fonts/6e02d29a68e4a53317ad9ffa8ddc79db.ttf")
			format("truetype"),
		/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
			url("../fonts/6e02d29a68e4a53317ad9ffa8ddc79db.svg#WC Mano Negra Bta V2")
			format("svg"); /* iOS 4.1- */
}

@font-face {
	font-family: "Campton Book";
	src: url("../fonts/dc9b06af64b02efa71cd0d1e97cb55e6.eot"); /* IE9*/
	src: url("../fonts/dc9b06af64b02efa71cd0d1e97cb55e6.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("../fonts/dc9b06af64b02efa71cd0d1e97cb55e6.woff2")
			format("woff2"),
		/* chrome、firefox */ url("../fonts/dc9b06af64b02efa71cd0d1e97cb55e6.woff")
			format("woff"),
		/* chrome、firefox */ url("../fonts/dc9b06af64b02efa71cd0d1e97cb55e6.ttf")
			format("truetype"),
		/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
			url("../fonts/dc9b06af64b02efa71cd0d1e97cb55e6.svg#Campton Book")
			format("svg"); /* iOS 4.1- */
}

@font-face {
	font-family: "Fjalla One";
	src: url("../fonts/1c936c1b1c89d00d18b2d8c2e8cd34a0.eot"); /* IE9*/
	src: url("../fonts/1c936c1b1c89d00d18b2d8c2e8cd34a0.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("../fonts/1c936c1b1c89d00d18b2d8c2e8cd34a0.woff2")
			format("woff2"),
		/* chrome、firefox */ url("../fonts/1c936c1b1c89d00d18b2d8c2e8cd34a0.woff")
			format("woff"),
		/* chrome、firefox */ url("../fonts/1c936c1b1c89d00d18b2d8c2e8cd34a0.ttf")
			format("truetype"),
		/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
			url("../fonts/1c936c1b1c89d00d18b2d8c2e8cd34a0.svg#Fjalla One")
			format("svg"); /* iOS 4.1- */
}
